*{
    box-sizing: border-box;
}
body{
    margin:0;
}
/** Typography **/
h3,p{
    font-family: 'Outfit', sans-serif;
    margin:0;
    padding:5px;
    text-align: left;

}
h3{
    color:white;
    margin-top:1.25em;
}
p{
    font-size: 1rem;
    color:hsl(215, 51%, 70%);
    font-weight:100;
    line-height:  1.5em;
}
.eth{
    color:hsl(178, 100%, 50%)
}

svg{
    align-self: center;
}


/**layout **/
.container{
    min-height:100vh;
    background-color: hsl(217, 54%, 11%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container{
    margin:0 auto;
    background-color: hsl(216, 50%, 16%);  
    width:320px;   
}
.card{
    margin:0 auto;
    width:300px;
    display:flex;
    flex-direction: column;
    border-radius:10px;
    padding:20px 0;
    

}
.image-container{
    align-self: center;
    position:relative;
    border-radius:.625em;
    background-color:hsl(178, 100%, 50%);
    
   
}
.icon{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
    
   
}
.card-img{
    display:block;
    width:275px;
    border-radius:.625em;

}
.image-container:hover .card-img {
    
    opacity:0.3;
    
  
}

h3,p{
    align-self: flex-start;
}

.details{
    display:flex;
    justify-content: space-between;
    position:relative;
    padding:10px 0;
}
.details::after{
    content:"";
    height:1px;
    width:100%;
    background-color: hsl(215, 32%, 27%);
    position:absolute;
    bottom:0;
    align-self: center; 
}
.author{
    display:flex;
    padding:10px;
}

.author-img{
    border-radius: 50%;
    width:30px;
    height:30px;
    border:1px solid white;
    margin-right:.312em;
    
    
}

.author-name{
    color:white;    
}
.sub-details{
    display:flex;
}
.card.img:hover{
   background: hsl(178, 100%, 50%);
}
h3:hover,
.author-name:hover
{
    color: hsl(178, 100%, 50%);
}

